<?php
//include("functions/functions.php");
?>

<!-- <footer class="box">     -->
<footer id="footer" class="box has-text-centered" style="margin:auto; max-width:600px; padding: 2px 20px; font-size: 0.75rem;">
    <p>
        <!-- <p>messaging_app220120 By Michael D'Sa</p> -->
        <?php 
        //$display_user_links = session_user_logged_in(1) ? '<a href="logout.php">|log out|</a>' : '<a href="login.php">|log in|</a>';
        //print '<span>' . $display_user_links . '</span>';
        print '<span>messaging_app220120 by Michael D\'Sa</span>';

        // Time: ' . date('g:ia, l F j, Y ') . "<br>"
        ?>
        <style>
            @media(max-width: 440px){
                #msgbox, #footer{
                    padding: 5px;
                }
            }
        </style>
    </p>
    
</footer>
</body>
</html>
<?php ob_end_flush(); ?>