<?php
//include("functions/functions.php");
?>

<!-- <footer class="box">     -->
<footer id="footer" class="box has-text-centered" style="margin:auto; max-width:600px; padding: 2px 20px; font-size: 0.75rem;">
    <p>
        <!-- <p>messaging_app220120 By Michael D'Sa</p> -->
        <?php 
        print '<span>messaging_app220120 by Michael D\'Sa </span><a href="https://github.com/MichaelDSa" target="_blank" rel="noopener noreferrer">|GitHub|</a>';
        ?>
        <style>
            @media(max-width: 440px){
                #msgbox, #footer{
                    padding: 5px;
                }
            }
        </style>
    </p>
    
</footer>
</body>
</html>
<?php ob_end_flush(); ?>