<?php ob_start(); ?>
<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>
        <?php
        if(defined('TITLE')) {
            print TITLE;
        } else {
            print 'chat_app220120';
        }
        ?>
    </title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <style></style> -->

        
</head>
<html>
<body style="background-color: #67c0ff;">
    <!-- <body> -->